<p>contactanos works!</p>


<!-- bradcam_area_start -->
<div class="bradcam_area breadcam_bg mt-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="bradcam_text text-center">
                    <h3><span>Contactanos</span></h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- bradcam_area_end -->

<!--- Formulario -->
<div class="container my-5">
    <div class="row">
        <div class="col-lg-4 " >
            <div class="contacto-info">
                <div class="grupo-info d-flex">
                    <span class="icon-contact flex-fill">
                        <i class="fa fa-envelope"></i>
                    </span>
                    <div class="flex-fill">
                        <h3>mascotafeliz@hotmail.com</h3>
                    </div>
                </div>
                <div class="grupo-info d-flex">
                    <span class="icon-contact flex-fill">
                        <i class="fa fa-map-location-dot"></i>
                    </span>
                    <div class="flex-fill">
                        <h3 >Calle 15 # 11 - 28 José Hilario</h3>
                    </div>
                    
                </div>
                <div class="grupo-info d-flex">
                    <span class="icon-contact flex-fill">
                        <i class="fa-solid fa-phone"></i>
                    </span>
                    <div class="flex-fill">
                        <h3>+ 57 3186743218</h3>
                        <p>+57 3006743218</p>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="col-lg-7" >
            <form>
                <div class="mb-3">      
                  <input type="text" class="form-control inputs" id="nombre" aria-describedby="emailHelp" onfocus="this.placeholder = ''" 
                  onblur="this.placeholder = 'Ingresar nombre'" placeholder="Ingresar nombre">
                </div>
                <div class="mb-3">
                  <input type="email" class="form-control inputs" id="correo" onfocus="this.placeholder = ''" 
                  onblur="this.placeholder ='Ingresar correo electronico'" placeholder="Ingresar correo electronico">
                </div>
                <div class="mb-3">
                  <input type="text" class="form-control inputs" id="asunto" onfocus="this.placeholder = ''" 
                  onblur="this.placeholder ='Ingresar asunto'" placeholder="Ingresar asunto">
                </div>
                <div class="mb-3 ">
                    <textarea type="text" class="form-control inputs-area" id="asunto" onfocus="this.placeholder = ''" 
                    onblur="this.placeholder ='Ingresar mensaje'" placeholder="Ingresar mensaje"></textarea>
                </div>
                <div class="boton">
                    <button type="submit" class="btn-enviar ">Submit</button>
                </div>
              </form>
        </div>
    </div>
</div>


