<p>consultar-mascota works!</p>



<!---Contenido--->
    <!---Barra lateral-->
    <div class="container  ">
        <div class="row mt-6">
            <div class="col-lg-4 apartado">
                <div class="row align-items-end">
                    <div class="col-4 user-img">
                        <img class="rounded-circle" src="../recursos/usuario.png" alt="">
                    </div>
                    <div class="col-8">
                        David G.
                    </div>
                </div>
                <ul class="navbar-nav ms-auto mt-5 list d-flex">
                    <li class="nav-item  px-5 py-1 ">
                        <a class="nav-link " aria-current="page" href="#">Perfil</a>
                    </li>
                    <li class="nav-item active px-5 py-1 ">
                        <a class="nav-link " href="#">Afiliacion mascotas</a>
                    </li>
                    <li class="nav-item  px-5 py-1 ">
                        <a class="nav-link " href="#">Mis Productos</a>
                    </li>
                    <li class="nav-item  px-5 py-1 ">
                        <a class="nav-link " href="#">Mis Servicios</a>
                    </li>

                    <li class="nav-item  px-5 py-1 ">
                        <a class="nav-link " href="#">Cerrar Sesion</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-8">
                <div class="pt-5">

                    <div class="mb-4 text-start d-flex align-items-center">
                        <h3 class="fw-bold px-5 flex-fill">Listado mascotas</h3>
                        <div class="mt-4 px-5 text-end">
                            <a href="../usuario/crear_mascota.html" class="btn btn-success">Solicitar</a>
                        </div>
                    </div>

                    <!--- Tabla -->
                    <table class="table mx-5 mb-5">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Foto</th>
                                <th scope="col">Fecha de solicitud</th>
                                <th scope="col">Estado</th>
                                <th scope="col">Acciones</th>
                            </tr>
                        </thead>
                        <tbody >
                            <tr >
                                <th scope="row">1</th>
                                <td><img src="../recursos/1.png" alt=""></td>
                                <td>22/08/2022</td>
                                <td>Pendiente</td>
                                <td>
                                    <button type="submit" class="btn btn-primary mx-1"><i class="fa fa-message"></i></button>
                                    <button type="submit" class="btn btn-warning mx-1"><i class="fa fa-eye"></i></button>
                                    <button type="submit" class="btn btn-danger mx-1"><i class="fa fa-trash"></i></button>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td><img src="../recursos/2.png" alt=""></td>
                                <td>01/10/2022</td>
                                <td>Aceptado</td>
                                <td >
                                    <button type="submit" class="btn btn-primary mx-1"><i class="fa fa-message"></i></button>
                                    <button type="submit" class="btn btn-warning mx-1"><i class="fa fa-eye"></i></button>
                                    <button type="submit" class="btn btn-danger mx-1"><i class="fa fa-trash"></i></button>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td><img src="../recursos/3.png" alt=""></td>
                                <td>31/10/2022</td>
                                <td>Rechazado</td>
                                <td >
                                    <button type="submit" class="btn btn-primary mx-1"><i class="fa fa-message"></i></button>
                                    <button type="submit" class="btn btn-warning mx-1"><i class="fa fa-eye"></i></button>
                                    <button type="submit" class="btn btn-danger mx-1"><i class="fa fa-trash"></i></button>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">4</th>
                                <td><img src="../recursos/4.png" alt=""></td>
                                <td >13/11/2022</td>
                                <td>Pendiente</td>
                                <td >
                                    <button type="submit" class="btn btn-primary mx-1"><i class="fa fa-message"></i></button>
                                    <button type="submit" class="btn btn-warning mx-1"><i class="fa fa-eye"></i></button>
                                    <button type="submit" class="btn btn-danger mx-1"><i class="fa fa-trash"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    
