<h1>Hola equipo 3</h1>


<!-- slider_area_start -->
<div class="slider_area mt-5">
  <div class="single_slider slider_bg_1 d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-md-6">
          <div class="slider_text">
            <h3><span>Cuidamos</span><br> <span>de tus</span> <br> <span>mascotas</span></h3>
            <p>No conocemos la receta de la felicidad, pero seguro incluye un amigo de cuatro patas.</p>
            <a href="./contacto.html" class="boxed-btn4">Contactanos</a>
          </div>
        </div>
      </div>
    </div>
    <div class="dog_thumb d-none d-lg-block">
      <img src="../recursos/Mascota.png" alt="">
    </div>
  </div>
</div>
<!-- slider_area_end -->



