<p>crear-usuario works!</p>

<!---Contenido--->
    <!---Barra lateral-->
    <div class="container  ">
        <div class="row mt-6" style="min-height: 100vh; ">
            <div class="col-lg-4 apartado" >
                <div class="row align-items-end">
                    <div class="col-4 user-img">
                        <img class="rounded-circle" src="../recursos/admin.png" alt="">
                    </div>
                    <div class="col-8">
                        Administrador
                    </div>
                </div>
                <ul class="navbar-nav ms-auto mt-5 list d-flex">
                    <li class="nav-item  px-5 py-1 ">
                        <a class="nav-link " aria-current="page" href="#">Perfil</a>
                    </li>
                    <li class="nav-item active px-5 py-1 ">
                        <a class="nav-link " href="#">Usuario</a>
                    </li>
                    <li class="nav-item  px-5 py-1 ">
                        <a class="nav-link " href="#">Productos/Servicios</a>
                    </li>
                    <li class="nav-item  px-5 py-1 ">
                        <a class="nav-link " href="#">Sucursal</a>
                    </li>
                    <li class="nav-item  px-5 py-1 ">
                        <a class="nav-link " href="#">Prospectos</a>
                    </li>
                    <li class="nav-item  px-5 py-1 ">
                        <a class="nav-link " href="#">Cerrar Sesion</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-8">
                <div class="">
                    <div class="text-start pt-3 px-5">
                        <a class="icon-contact" href="#"><i class="fa-solid fa-chevron-left"></i></a>
                    </div>
                    <div class="mb-4 text-center">
                        <h3 class="fw-bold text-center">Crear Cuenta</h3>
                        
                    </div>

                    <!--- Formulario -->
                    <form class="mx-5 mb-5">

                        <div class="mt-2">
                            <input type="text" class="form-control inputs" id="nombre" onfocus="this.placeholder = ''"
                                onblur="this.placeholder ='Nombre(s)'" placeholder="Nombre(s)">
                        </div>

                        <div class="mt-2">
                            <input type="text" class="form-control inputs" id="apellido" onfocus="this.placeholder = ''"
                                onblur="this.placeholder ='Apellido(s)'" placeholder="Apellido(s)">
                        </div>

                        <div class="mt-2">
                            <input type="text" class="form-control inputs" id="cedula" onfocus="this.placeholder = ''"
                                onblur="this.placeholder ='Cedula'" placeholder="Cedula">
                        </div>
                        <div class="mt-2">
                            <input type="text" class="form-control inputs" id="telefono"
                                onfocus="this.placeholder = ''" onblur="this.placeholder ='Telefono'"
                                placeholder="Telefono">
                        </div>
                        <div class="mt-2">
                            <input type="email" class="form-control inputs" id="correo" onfocus="this.placeholder = ''"
                                onblur="this.placeholder ='Email'" placeholder="Email">
                        </div>
                        <div class="mt-2">
                            <input type="password" class="form-control inputs" id="v-password"
                                onfocus="this.placeholder = ''" onblur="this.placeholder ='Contraseña'"
                                placeholder="Contraseña">
                        </div>
                        <div class="mt-2">
                            <select class="form-select inputs" >
                                <option selected>Rol</option>
                                <option value="1">Administrador</option>
                                <option value="2">Usuario</option>
                                <option value="3">Asesor</option>
                              </select>
                        </div>
                        <div class="mt-4 text-end">
                            <button type="submit" class="btn-enviar mb-2">Crear cuenta</button> <br>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    
