<!--<footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Footer Content</h5>
          <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Links</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2014 Copyright Text
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
      </div>
    </div>
  </footer> -->


  <!-- service_area_start  -->
  <div class="service_area">
    <div class="container">
      <div class="row justify-content-center ">
        <div class="col-lg-7 col-md-10">
          <div class="section_title text-center mb-43">
            <h3>Mascota Feliz</h3>
            <p>Encuentra todo para tus peludos en un solo lugar</p>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6">
          <div class="single_service">
            <div class="service_thumb service_icon_bg_1 d-flex align-items-center justify-content-center">
              <div class="service_icon">
                <img src="../recursos/domi.png" alt="">
              </div>
            </div>
            <div class="service_content text-center">
              <h3>Entregas el mismo día</h3>
              <p>Entregamos todo lo que necesitas, cuando lo necesitas</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="single_service active">
            <div class="service_thumb service_icon_bg_1 d-flex align-items-center justify-content-center">
              <div class="service_icon">
                <img src="../recursos/pago.png" alt="">
              </div>
            </div>
            <div class="service_content text-center">
              <h3>Pago online o contra entrega</h3>
              <p>Escoge tu método de pago ¡No te preocupes! contamos con pasarelas de pago certificadas y seguras</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="single_service">
            <div class="service_thumb service_icon_bg_1 d-flex align-items-center justify-content-center">
              <div class="service_icon">
                <img src="../recursos/compra.png" alt="">
              </div>
            </div>
            <div class="service_content text-center">
              <h3>Todo lo que necesitas</h3>
              <p>Contamos con más de 4.000 productos y servicios. Encuentra too lo que necesitas para tu pedido</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- service_area_end -->
